<%= simple_form_for([@course_assignment, @assignment_response]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  </div>

  <div class="form-actions">
  	<%= f.input :grade %>
    <%= f.input :comments %>
    <%= f.button :submit %>
  </div>
<% end %>
