<h1>Academic Terms</h1>


 <%# renders the current term  %>
 <%= render "current_period", :active_course_periods => @active_course_periods %>



<table id="table_course_periods" class="datatable-wide table table-striped table-bordered">
  <thead>
  <tr>
    <th>Title </th>
    <th>Year </ht>
  </tr>
  </thead>

  <tbody>
  <% for course_period in @course_periods %>
    <td><%= link_to course_period.title, course_period %><%= course_period.active? ? " (active)" : course_period.upcoming? ? " (upcoming)" : " (past)" %></td>
    <td><%= link_to course_period.year, course_period %></td>
  </tr>
  <% end %>
  </tbody>
</table>



<br>


<%= link_to 'New Academic Term', new_course_period_path %>
