<%= simple_form_for(@course_assignment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  </div>

  <div class="form-actions">
  	<%= f.association :course_session, :collection => @sessions, label_method: :full_title, value_method: :id, :hint => "You can only add assignments to courses in which you are the instructor" %>
  	<%= f.input :number %>
  	<%= f.input :title %>
    <%= f.input :description, :label => "Guidelines: " %>
    <%= f.input :format, :hint => "e.g. 500-word essay" %>
    <%= f.input :due_date, :as => :date, :order => [:month, :day, :year] %>
    <%= f.input :visible, :label => "Responses visible to students", :hint => "Check if you want students to see each other's responses." %>
    <%= f.button :submit %>
  </div>
<% end %>
