<%= simple_form_for(@course_assignment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  </div>

  <div class="form-actions">
  	<%= f.association :course_session, label_method: :full_title, value_method: :id %>
  	<%= f.input :number %>
  	<%= f.input :title %>
    <%= f.input :description, :label => "Guidelines: " %>
    <%= f.input :format %>
    <%= f.input :due_date %>
    <%= f.input :visible, :label => "Responses visible to students", :hint => "Check if you want students to see each other's responses." %>
    <%= f.button :submit %>
  </div>
<% end %>
