<h1>Assignment Index</h1>





<table id="table_users" class="datatable-wide table table-striped table-bordered">
  <thead>
  <tr>
    <th>Course </th>
    <th>Title</th>
    <th>Description </th>
    <th>Format</th>
    <th>Due Date</th>

  </tr>
  </thead>
  <tbody>
  <% for assignment in @course_assignments %>
    <td><%#= link_to assignment.course_session.full_title, assignment %></td>
    <td><%= link_to assignment.title, assignment %></td>    
    <td><%= link_to assignment.description, assignment %></td>
    <td><%= link_to assignment.format, assignment %></td>
    <td><%= link_to assignment.due_date.strftime('%B %e, %Y'), assignment %></td>
   <% if current_user.is_admin? %>
         <td><%= link_to 'Edit', edit_course_assignment_path(assignment) %></td>
        <td><%= link_to 'Delete', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %> 
    </tr>
  <% end %>
  </tbody>
</table>



<br>

<% if current_user.is_admin? %>
<%= link_to 'New Course assignment', new_course_assignment_path %>
<% end %>