<p id="notice"><%= notice %></p>



<h1><%= @course_assignment.title %></h1>


<div class="row">
    <div class="col-md-8">
        <div class="well">
        	<dd>Assignment no. <%= @course_assignment.number%></dd>
        	<dt>Guidelines: </dt>
        	<dd><%= simple_format(@course_assignment.description) %></dd>
        	<dt>Type: </dt>
        	<dd><%= @course_assignment.format %></dd>
        	<dt>Due Date: </dt>
        	<dd><%= @course_assignment.due_date.strftime('%B %e, %Y') %></dd>

        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
        	<%= link_to @course_assignment.course_session.full_title, course_session_path(@course_assignment.course_session)%>
    	</div>
    </div>

<%# this needs to be refactored %>
<% if current_user.in?(@course_assignment.course_session.users) %>
    <div class="col-md-4">
        <div class="well">
            <%= link_to "Add a response!", new_course_assignment_assignment_response_path(@course_assignment), class: "btn btn-info"%>
        </div>
    </div>
<% end %>   
</div>

<div class="row">
    <div class="col-md-8">
       <h3>Responses: </h3>
        <div class="well">
            <% if @course_assignment.visible?%>
            <% @course_assignment.assignment_responses.each do |r| %>
            <dd><div class="well">
                <%= r.user.name + ": " + r.text  %> 
            </div></dd>
            <% end %>
            <% else %> 
             There are no public responses for this assignment. 
            <% end %>
        </div>
    </div>
</div>


<% if current_user.is_admin? %>
<div class="row">
    <div class="col-md-8">
        <h3> Graded Responses: </h3>
        <div class="well">
            <% @course_assignment.assignment_responses.each do |r| %>
            <li><%= link_to r.user.name, course_assignment_assignment_response_path(@course_assignment, r) %> | 
                <%= (r.submitted + 28800).strftime('%B %e, %Y %l:%M %p') %>
            </li>
            <% end %>
        </div>
    </div>
</div>

<% end %>


</br>
<%= link_to "Back to Course", course_session_path(@course_assignment.course_session) %>

</br>
<% if current_user.is_admin? %>
<%= link_to 'Edit Assignment', edit_course_assignment_path(@course_assignment) %> |
<%= link_to 'Destroy Assignment', @course_assignment, method: :delete, data: { confirm: 'Are you sure you want to delete this assignment? This will delete all associated responses and this action is irreversible.' } %><% end %>
