<h1>Article Directory</h1>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <a href="https://app.mindimp.com/articles/22">
      <img src="http://i.imgur.com/ltS393G.jpg" alt="...">
    </a>
      <div class="carousel-caption">
        <h3>"The Real Problem With College Admissions: It's Not the Rankings"</h3>
        <p>The Atlantic </p>
      </div>
    </div>
    <div class="item">
      <a href="https://app.mindimp.com/articles/29">
      <img src="http://i.imgur.com/UUqR9wb.jpg" alt="...">
    </a>
      <div class="carousel-caption">
        <h3>"The Red Cross' Secret Disaster"</h3>
        <p>ProPublica</p>
      </div>
    </div>
    <div class="item">
      <a href="https://app.mindimp.com/articles/26">
      <img src="http://i.imgur.com/IlsGfdl.jpg" alt="...">
      </a>
      <div class="carousel-caption">
        <h3>"The Ebola Wars"</h3>
        <p>The New Yorker</p>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->

<hr/>





<table id="table_articles" class="datatable-wide table table-striped table-bordered">
  <thead>
  <tr>
    <th>Title </th>
    <th>Author</th>
    <th>Source </th>
    <th>Category</th>
    <th>Reading Level</th>

  </tr>
  </thead>
  <tbody>
  <% for article in @articles %>
    <td><%= link_to article.title, article %></td>
    <td><%= link_to article.author, article %></td>    
    <td><%= link_to article.source, article %></td>
    <td><%= link_to article.category, article %></td> 
    <% unless article.level.nil? %>
    <td> <%= link_to article.level, article %></td> 
    <% end %>
    </tr>
  <% end %>
</tbody>
</table>


<br>

<% if current_user.is_admin? %>
  <%= link_to "Add a New Article", new_article_path, :class => "btn" %>
  <%= link_to "Add a New Article Source", new_article_source_path, :class => "btn" %>
<% end %>