<h1>Article Directory</h1>


<table id="table_articles" class="datatable-wide table table-striped table-bordered">
  <thead>
  <tr>
    <th>Title </th>
    <th>Author</th>
    <th>Source </th>
    <th>Category</th>
    <th>Reading Level</th>

  </tr>
  </thead>
  <tbody>
  <% for article in @articles %>
    <td><%= link_to article.title, article %></td>
    <td><%= link_to article.author, article %></td>    
    <td><%= link_to article.source, article %></td>
    <td><%= link_to article.category, article %></td> 
    <% unless article.level.nil? %>
    <td> <%= link_to article.level, article %></td> 
    <% end %>
    </tr>
  <% end %>
</tbody>
</table>


<br>

<% if current_user.is_admin? %>
  <%= link_to "Add a New Article", new_article_path, :class => "btn" %>
<% end %>