<p><dt>Comments By: </dt>
<dd><%= current_user.name %><dd></p>

<%= simple_form_for([@discussion_question, @discussion_response]) do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">
  </div>

  <div class="form-actions">
  	<%= f.input :comments %>
    <%= f.button :submit %>
  </div>
<% end %>
