<h1>Comment on the Discussion Response for "<%= @discussion_response.source %>"</h1>


<div class="well">
<dt>Submitted by:  </dt>
<dd><%= @discussion_response.user.name %></dd>
<hr />
<dt> Question: </dt>
<dd><%=@discussion_question.question %><dd></p>
<dt> Response: </dt>
<dd><%= @discussion_response.response %></dd>
</div>


<%= render 'form' %>


<%= link_to 'View Discussion Question', discussion_question_discussion_response_path(@discussion_question, @discussion_response) %> |
<%= link_to 'Back', discussion_question_discussion_responses_path(@discussion_question) %>
