<h1>Add a Discussion Question Response</h1>

<p><dt>Discussion Question:</dt>
<dd><%=@discussion_question.question %><dd></p>
<p><dt>Submitted by:</dt>  <%= current_user.name %></p>

<%= simple_form_for([@discussion_question, @discussion_response]) do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">
  </div>

  <div class="form-actions">
  	<%= f.input :response, :onkeyup => "update_word_count(this);"%>
  	<span id="word-count-container">0</span> Characters
    <%= f.button :submit %>
  </div>
<% end %>

<hr/>
<% if !@discussion_question.book.nil? %>
<%= link_to 'Back to Book', book_path(@discussion_question.book), :class => "btn btn-lg" %>
<% else %>
<%= link_to 'Back to Article', article_path(@discussion_question.article), :class => "btn btn-lg" %>
<% end %> 



<script type="text/javascript">
  function update_word_count(object) {
    words = object.value.match(/\S+/g).length.toString();
    $('#word-count-container').innerHTML = words + " out of 25 used";
  }
</script>
