<h1>Add a Discussion Question Response</h1>

<p><dt>Discussion Question:</dt>
<dd><%=@discussion_question.question %><dd></p>
<p><dt>Submitted by:</dt>  <%= current_user.name %></p>

<%= simple_form_for([@discussion_question, @discussion_response]) do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">
  </div>

  <div class="form-actions">
    <div id ="response-field">
  	<%= f.input :response, id: "response-field"%>
  </div>
  	<span id="body-count">0</span> Characters
    <%= f.button :submit %>
  </div>
<% end %>

<hr/>
<% if !@discussion_question.book.nil? %>
<%= link_to 'Back to Book', book_path(@discussion_question.book), :class => "btn btn-lg" %>
<% else %>
<%= link_to 'Back to Article', article_path(@discussion_question.article), :class => "btn btn-lg" %>
<% end %> 
