<p id="notice"><%= notice %></p>

<div class="well">
	<dt>Source: </dt>
	<dd><%= @discussion_question.source%></dd>
	<dt>Question:</dt>
	<dd><%= @discussion_question.question %></dd>
	<dt>Response</dt>
	<dd><%= @discussion_response.response %></dd>
	<hr />
	<dt>Submitted:<dt>
	<dd><%=(@discussion_response.created_at + 28800).strftime('%B %e, %Y %l:%M %p') %><dd>
	<dt>Submitted By:<dt>
	<dd><%=@discussion_response.user.name %><dd>
	<hr />
	<dt>Comments:<dt>
	<dd><%= @discussion_response.comments  %><dd>
	<% unless @discussion_response.comment_by.nil? %>
	<dt>Added By:<dt>
	<dd><%= @user.name %><dd>
	<% end %> 
</div>

<p>
<% if current_user.is_admin? %>
<%= link_to 'Add/Edit Comments', edit_discussion_question_discussion_response_path(@discussion_question, @discussion_response) %> |
<%= link_to 'Show all responses for question', discussion_question_discussion_responses_path(@discussion_question) %> 
<% end %>

<hr/>

<% if !@discussion_question.book.nil? %>
<%= link_to 'Back to Book', book_path(@discussion_question.book) %> | 
<%= link_to "View all of #{@discussion_response.user.first_name}'s responses", book_responses_user_path(@discussion_response.user) %> 
<% else %>
<%= link_to 'Back to Article', article_path(@discussion_question.article) %> | 
<%= link_to "View all of #{@discussion_response.user.first_name}'s responses", article_responses_user_path(@discussion_response.user) %> 

<% end %> 
</p>



