<h1>All Course meetings for <%= @course_session.full_title + ', ' + @course_session.course_period.title %> </h1>


<ol>
    <% @course_meetings.each do |c|%>
      <li><div class="well">
      <%= c.preparation_notes%>
      <dt>Instructor Notes:</dt>
      <dd><%= c.instructor_notes%></dd>
      <dt>Class Notes:</dt>
      <dd><%= c.class_notes%></dd>
      <%= link_to '(edit meeting)', edit_course_session_course_meeting_path(@course_session, c) %>
      </div></li>
    <% end %>
</ol>


<br>

<% if current_user.is_admin? %>
<%= link_to "Add a Course Meeting", new_course_session_course_meeting_path(@course_session)%> | 
<%= link_to 'Back to Course', course_session_path(@course_session) %>
<% end %>

