<%= simple_form_for(@user, :html => {:multipart => true}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

  <%= f.input :first_name %>
  <%= f.input :nick_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :age %>
  <%= f.input :high_school %>
  <%= f.input :hometown %>
  <%= f.input :bio, :hint => "User HTML tags to set paragraphs, bold, italic, etc: http://www.w3schools.com/tags/" %>
  <%= f.input :skype_id, :label => "Skype ID" %>
  <%= f.input :phone, :hint => "ex. +86 123-4567-890" %>
  <%= f.input :profile_photo %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <% if current_user && current_user.is_admin? %>
  <%= f.input :is_admin %>
  <%= f.input :is_student %>
  <%= f.input :articles %>
  <%= f.input :books %>
  <%= f.input :courses %>
  <% end %>
  
  <%= f.button :submit %>

 </div>
</div>

<% end %>
