<%= simple_form_for(@user, :html => {:multipart => true}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.input :first_name %>
  <%= f.input :nick_name %>
  <%= f.input :last_name %>
  <%= f.input :age %>
  <%= f.input :email %>
  <%= f.input :profile_photo %>
  <% if current_user == @user %>
  <%= f.input :password%>
  <%= f.input :password_confirmation %>
  <% end %>
  <% if current_user && current_user.is_admin? %>
  <%= f.input :is_admin %>
  <%= f.input :is_student %>
  <% end %>
  
  <%= f.button :submit %>

<% end %>
