<% if current_user == @user %>
<h1>Edit My Profile </h1>
<% else %>
<h1>Edit <%= @user.first_name %>'s Profile </h1>
<% end %>



<%= render 'form' %>


<% if current_user == @user %>
<%= link_to 'My Profile', @user %> |
<% else %>
<%= link_to 'Back to Profile', @user %> |
<% end %>

<%= link_to 'Back', users_path %>
