<h1>Users | My Profile </h1>

<table id="table_users" class="datatable-wide table table-striped table-bordered">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Nickname</th>
    <th>Last Name</th>
    <th>Email</th>

  </tr>
  </thead>
  <tbody>
  <% for user in @users %>
    <td><%= link_to user.first_name, user %></td>
    <td><%= link_to user.nick_name, user %></td>
    <td><%= link_to user.last_name, user %></td>    
    <td><%= link_to user.email, user %></td>
    <td><%= link_to "Edit", edit_user_path(user), :class => "btn" %></td>
    <td><%= link_to "Destroy", user, :confirm => 'This will permanently delete the User. Are you sure?', :method => :delete %></td>

    </tr>
  <% end %>
  </tbody>
</table>


<br>

  <%= link_to "New User", new_user_path, :class => "btn" %>
