<h1>MindImp Users | <%= link_to "My Profile", user_path(current_user) %></h1>


<%= will_paginate %>


<ul class="users">
  <%= render @users %>
</ul>


<%= will_paginate %>

<br>

  <%= link_to "New User", new_user_path, :class => "btn" %>
