<h1><%= @user.first_name + " " + (!@user.nick_name.blank? ? "(#{@user.nick_name}) " : "") + @user.last_name %> 
<%= @user.activation_state == "pending" ? "| Pending Activation" : "" %> </h1>  

<h4><%= @user.email %>   | 
    <% if @user.is_admin? %> 
        <%= link_to "Site Administrator", user_path(@user), class: "btn btn-info" %> 
        <% else %>
        <%= link_to "Student", user_path(@user), class: "btn btn-info" %> 
        <% end %></h4><hr />
<% if current_user.is_admin? %>
<%= render 'follow_form' %> 
<% end %>

<%# link_to, %>

<p id="notice"><%= notice %></p>


<hr />
<!-- SUBNAV SECTION -->
<div id="subnavbar" class="subnav" role="navigation">
  <ul class="nav nav-pills">
    <li><a href="#bio">Biographical Information</a></li>
    <% if current_user == @user || current_user.is_admin? %>
    <li><a href="#class">Class Information</a></li>
    <li><a href="#books">Books</a></li>
    <li><a href="#articles">Articles</a></li>
    <li><a href="#certifications">Certifications</a></li>
    <li><a href="#assessments">Assessments</a></li>
    <% end %>
    <% if current_user.is_admin? %>
      <li><a href="#follow">Followers</a></li>
      <li><a href="#admin">Settings</a></li>
    <% end %>
  </ul>
</div>
<hr />
<!-- SUBBODY SECTION -->

<section id="bio">
<h3> About <%= @user.first_name %></h3>
<div class="row">
    <div class="col-md-8">
        <div class="well">
        <dt>About Me</dt>
        <% unless @user.bio.nil? %>
        <dd><%= @user.bio.html_safe %></dd>
        <% end %>
        <dt>Hobbies</dt>
        <dd><%= @user.hobbies %></dd>
        <dt>Favorite Book</dt>
        <dd><%= @user.fav_book %></dd>
        <dt>Age</dt>
        <dd><%= @user.age %></dd>
        <dt>Hometown</dt>
        <dd><%= @user.hometown %></dd>
        <dt>High School</dt>
        <dd><%= @user.high_school %></dd>
        <% if @user.is_admin? %>
        <dt>College</dt>
        <dd><%= @user.college %></dd>
        <dt>Major</dt>
        <dd><%= @user.major %></dd>
        <% end %>

        </div>

    </div>

    <div class="col-md-4">
        <div class="thumbnail">
        <%= image_tag @user.profile_photo.url(:medium) %>
        </div>
    </div>
    
</div>
</section>


<% if current_user == @user || current_user.is_admin? %>

<section id="class">
<h3>My Classes </h3>
<div class="row">
    <div class="col-md-8">
        <div class="well">
        <% if @course_sessions.empty? %>
        <h4><%= @user.name %> is not enrolled in any classes right now.</h4>
        <% else %>
        <ul class="users">
        <% @course_sessions.each do |c| %>
        <%= c.course_period.title %>: </br>
        <%= link_to c.full_title, course_session_path(c) %> </br>
        <% end %>
        </ul>
        <% end %>
        </div>
    </div>
</div>      
</section>


 <section id="books">
    <h3>My Books</h3>
    <div class="row">
        <div class="col-md-8">
            <div class="well">
                <dt> Total Discussion Questions Answered: <%= @book_responses.count %></dt> </br>
                <% unless @book_responses.empty? %>
                <dt> Latest Discussion Question Submitted on: </dt>
                <dd><%= (@book_responses.last.created_at + 28800).strftime('%B %e, %Y %l:%M %p') %> for <%= @book_responses.last.discussion_question.source %></dd>
                <hr />
                <%= link_to "View All Responses", responses_user_path(@user) %>
                <% end %>
            </div>
        </div>
    </div>
</section> 


 <section id="articles">
    <h3>My Articles</h3>
    <div class="row">
        <div class="col-md-8">
            <div class="well">
                <dt> Total Discussion Questions Answered: <%= @article_responses.count %></dt> </br>
                <% unless @article_responses.empty? %>
                <dt> Latest Discussion Question Submitted on: </dt>
                <dd><%= (@article_responses.last.created_at + 28800).strftime('%B %e, %Y %l:%M %p') %> for <%= @article_responses.last.discussion_question.source %></dd>
                <hr />
                <%= link_to "View All Responses", responses_user_path(@user) %>
                <% end %>
            </div>
        </div>
    </div>
</section> 

<section id="certifications">
<h3>Certifications</h3>
<div class="row">
    <div class="col-md-8">
     <div class="well">
        Coming soon.
    </div>
</div>
</div>
</section>

<section id="assessments">
<h3>Assessments</h3>
<div class="row">
    <div class="col-md-8">
     <div class="well">
        Coming soon.
    </div>
</div>
</div>
</section>


<% end %>



<section id="follow">
<h3>Followers</h3>
<div class="row">
    <div class="col-md-8">
     <div class="well">
        <%= render 'follow_stats' %> </br>
    </div>
</div>
</div>
</section>


<% if current_user.is_admin? %>
<section id="admin">
    <div class="row">
    <div class="col-md-8">
    <h3>Settings</h3>
         <div class="well">
        <h4>Permissions: </h4>
        <dt>Articles</dt>
        <dd><%= @user.articles %></dd>
        <dt>Books</dt>
        <dd><%= @user.books %></dd>
        <dt>Courses</dt>
        <dd><%= @user.courses %></dd>
        <hr />
        <dt>Skype ID</dt>
        <dd><%= @user.skype_id %></dd>  
        <dt>Phone Number</dt>
        <dd><%= @user.phone %></dd> 
        <dt>Parent Name</dt>
        <dd><%= @user.parent_name %></dd>  
        <dt>Parent Email</dt>
        <dd><%= @user.parent_email %></dd>   
        <hr />
        <dt>Last Logged In: </dt>
        <%# this takes care of displaying in China Standard Time %>
        <% if @user.last_login.nil? %>
         <dd>(none)</dd>
         <% else %> 
        <dd><%= (@user.last_login + 28800).strftime('%B %e, %Y %l:%M %p')%></dd>
         <% end %>
        <% end %>
    </div>
</div>
</div>
</section>


</br>
<%= link_to 'Edit Profile', edit_user_path(@user) %> |
<%= link_to 'Back', root_path %>


<!-- $('.subnav').affix({
      offset: {
        top: $('#navtop').height()
      }
});  -->
