<% provide(:title, @title) %>

<h1><%= current_user == @user ? "My Bookshelf" : "#{@user.name}'s Bookshelf"%></h1>

<h2>Want to read</h2>
<div class="row">
<% @user.books.each do |b| %>
	 <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
        <%= image_tag b.cover.url(:medium) %>
        <dt><%= link_to b.title, book_path(b)%></dt>
        </div>    
    	</div>
<% end %>
</div>

<h2>Currently reading</h2>
Coming Soon

<h2>Have read </h2>
<div class="row">
<% @user.books_read.each do |b| %>
	 <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
        <%= image_tag b.cover.url(:medium) %>
        <dt><%= link_to b.title, book_path(b)%></dt>
        </div>    
    	</div>
<% end %>
</div>



