<% if !current_user.is_admin? %> 

<h1><%= "Sorry, you are not authorized to access this page!" %> </h1>

<% else %> 

<h1>Administrator Portal </h1>


 <%# renders the current term  %>
<%#= render "course_periods/current_period", :active_course_periods => @active_course_periods %>

<div class="row">
    <div class="col-md-4">
    	<h2> Students </h2>
		<div class="well">
		<%= link_to "All Students", student_list_path, class: "btn btn-info" %>  | 
		<%= link_to "My Students", following_user_path(current_user.id), class: "btn btn-info" %> <br></br>
		<%= link_to "My Profile", user_path(current_user.id), class: "btn btn-info"%> 
		<hr />
		<%= link_to "All Instructors", admin_list_path, class: "btn btn-info" %>  | 
		<%= link_to "All Users", users_path, class: "btn btn-info" %> 


		</div> 
	</div>
    <div class="col-md-4">
    	<h2> Books </h2>
		<div class="well">
		<%= link_to "Book List", books_path, class: "btn btn-info" %> | 
		<%= link_to "Book Categories", book_categories_path, class: "btn btn-info" %> <br></br>
		<%= link_to "Article List", articles_path, class: "btn btn-info" %> 

		</div> 
	</div>
	<div class="col-md-4">
		<h2> Courses </h2>
		<div class="well">
		<%= link_to "Courses", courses_path, class: "btn btn-info" %> |
		<%= link_to "Subject Areas", course_categories_path, class: "btn btn-info" %> </br> </br>
		<%= link_to "Sessions ", course_sessions_path, class: "btn btn-info" %> | 
		<%= link_to "Academic Terms ", academic_terms_path, class: "btn btn-info" %> </br> </br>
		<hr/>
		<%= link_to "My Courses ", my_sessions_path, class: "btn btn-info" %>  </br> </br>
		<%= link_to "Instructor Resources", resources_path, class: "btn btn-info" %>
		</div>
	</div>
</div>




<% end %> 
