<% if current_user %> 

<h1> Student Portal </h1>

<div class="well">

<%= link_to "My Profile", user_path(current_user.id), class: "btn btn-lg btn-info"%> | 
<%= link_to "My Courses", my_courses_path, class: "btn btn-lg btn-info"%>
</div>

<div class="well">
<%= link_to "Book List", books_path, class: "btn btn-lg btn-info" %> | 
<%= link_to "Available Courses", courses_path, class: "btn btn-lg btn-info" %>

</div>

<% else %>

<h1> Please login first </h1>
<%= button_to "Login", :login, method: :get, class: "btn btn-info" %>


<% end %>