
<h1><%= @book.title + ", " + @book.author %></h1>




<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-md-8">
        <div class="well">
    
        <dd><%= @book.description %></dd>
        </div>

        <h2>Discussion Questions: </h2>
        <% if @book.discussion_questions.empty? && current_user.is_admin? %>
         There don't seem to be any discussion questions, would you like to add some? </br>
         <%= link_to "New Discussion Question", new_discussion_question_path, class: "btn btn-info"%>
        <% elsif @book.discussion_questions.empty? %>
          There are no discussion questions for this book. 
        <% else %>
        <% @book.discussion_questions.each do |q|%>
         <div class="well">
         <%= q.question_number%>. <%= q.question %> 
         <% if current_user.is_admin?%> <%= link_to "Edit", edit_discussion_question_path(q) %><% end %>
         </div>
         <% end %>
        <% end %>

    </br></br>

        <div class="well">
        <dt>Lexile Measure </dt>
        <dd><%= @book.lexile_measure %></dd>
        <dt>Genre</dt>
        <dd><%= @book.genre %></dd>
        <dt>Category</dt>
        <% if @book.book_categories.nil? %>
          <dd> (none) </dd> 
        <% else %>
          <% @book.book_categories.each do |c| %>
           <dd>  <%= link_to c.title, book_category_path(c) %> </dd> 
          <% end %>
        <% end %>
        </div>
    </div>



    <div class="col-md-4">
        <div class="thumbnail">
        <%= image_tag @book.cover.url(:medium) %>
        </div>
    </div>
    
</div>



<% if current_user.is_admin? %>
<%= link_to 'New Discussion Question', new_discussion_question_path %> | 
<%= link_to 'Edit Book', edit_book_path(@book) %> 
<% end %></br>
<%= link_to 'Back', books_path %>
