
<h1><%= @book.title + ", " + @book.author %></h1>




<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-md-8">
        <div class="well">
    
        <dd><%= @book.description %></dd>
        </div>

        <h2>Discussion Questions: </h2>
        <% if @book.discussion_questions.empty? && current_user.is_admin? %>
         There don't seem to be any discussion questions, would you like to add some? </br>
         <%= link_to "New Discussion Question", new_discussion_question_path, class: "btn btn-info"%>
        <% elsif @book.discussion_questions.empty? %>
          There are no discussion questions for this book. 
        <% else %>
        <% @book.discussion_questions.each do |q|%>
         <div class="well">
         <%= q.question_number%>. <%= q.question %> <%= link_to "Edit", edit_discussion_question_path(q) %>
         </div>
         <% end %>
        <% end %>

    </br></br>

        <div class="well">
        <dt>Lexile Measure </dt>
        <dd><%= @book.lexile_measure %></dd>
        <dt>Genre</dt>
        <dd><%= @book.genre %></dd>
        <dt>Category</dt>
        <dd><%= !@book.book_category.nil? ? @book.book_category.title : "(none)" %></dd>
        </div>
    </div>



    <div class="col-md-4">
        <div class="thumbnail">
        <%= image_tag @book.cover.url(:medium) %>
        </div>
    </div>
    
</div>




<%= link_to 'New Discussion Question', new_discussion_question_path %> | 
<%= link_to 'Edit Book', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
