<%= simple_form_for(@course_session) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  </div>

  <div class="form-actions">
  	<%= f.input :title %>
    <%= f.input :time %>
    <%= f.input :duration %>
    <%= f.input :instructor %>
    <%= f.association :course %>
    <%= f.association :users, label_method: :name, value_method: :id, include_blank: false, as: :check_boxes, :label => "Students" %>
    <%= f.button :submit %>
  </div>
<% end %>
