<%= simple_form_for(@course_session) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  </div>

  <div class="form-actions">
  	<%= f.input :title %>
    <%= f.association :course %>
    <%= f.association :course_period, :label => "Academic Term" %>
    <%= f.input :time, :label => "Class Meeting Time" %>
    <%= f.input :duration, :label => "Class Time Duration" %>
    <%= f.association :instructor, collection: Instructor.all, label_method: :name, value_method: :id, include_blank: false, :label => "Instructor" %>
    <%= f.association :users, label_method: :name, value_method: :id, include_blank: false, as: :check_boxes, :label => "Students" %>
    <%= f.input :active, :hint => "Check the box if the class is currently ongoing" %>
    <%= f.button :submit %>
  </div>
<% end %>
