<p id="notice"><%= notice %></p>



<h1><%= @course_session.course.title + ", " + @course_session.title + ", " + @course_session.course_period.title %></h1>




<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-md-8">
        <div class="well">
        <dt> Instructor </dt>
        <dd><%= @course_session.instructor %></dd>
        <dt> Students </dt>
        <% @course_session.users.each do |u| %>
            <%= link_to u.name, u%> </br>
        <% end %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
        <dt>Course</dt>
        <%= link_to @course_session.course.title, course_path(@course_session.course) %>
    	<dt> Time </dt>
        <dd><%= @course_session.time %></dd>
        <dt> Duration </dt>
        <dd><%= @course_session.duration %></dd>
        </div>
    </div>
    
</div>




<%= link_to 'Edit', edit_course_session_path(@course_session) %> |
<%= link_to 'Back', course_sessions_path %>
