<p id="notice"><%= notice %></p>



<h1><%= @course_session.full_title + ", " + @course_session.course_period.title %></h1>

<hr />
<!-- SUBNAV SECTION -->
<div id="subnavbar" class="subnav" role="navigation">
  <ul class="nav nav-pills">
    <li><a href="#class">Overview</a></li>
    <li><a href="#assignments">Assignments </a></li>
    <li><a href="#meetings">Meetings </a></li>
    <li><a href="#students">Students Roster</a></li>
  </ul>
</div>
<hr />
<!-- SUBBODY SECTION -->


<section id="class">
<div class="row">
    <h3>Overview:</h3>
    <div class="col-md-8">
        <div class="well">
        <dt> Instructor </dt>
        <% unless @course_session.instructor.nil? %>
        <dd><%= image_tag @course_session.instructor.profile_photo.url(:thumb) %><%= link_to @course_session.instructor.name, user_path(@course_session.instructor)%></dd>
        <% end %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
        <dt>Course</dt>
        <%= link_to @course_session.course.title, course_path(@course_session.course) %>
    	<dt> Time </dt>
        <dd><%= @course_session.time %></dd>
        <dt> Duration </dt>
        <dd><%= @course_session.duration %></dd>
        </div>
    </div>
</div>
</section>


<section id="assignments">
<div class="row">
    <h3>Assignments:</h3>
    <div class="col-md-8">
                <div class="well">
                <% if @course_session.course_assignments.empty? && current_user.is_admin? %>
                There don't seem to be any assignments, would you like to add one? </br>
                <%= link_to "New Assignment", new_course_assignment_path, class: "btn btn-info"%>
                <% elsif @course_session.course_assignments.empty?  %>
                There are no assignments for this course. 
                <% else %>
                <% @course_session.course_assignments.each do |a|%>
                <div class="well">
                    <%= a.number%>. <%= link_to a.title, course_assignment_path(a) %> </br>
                    <%= a.description %></br>
                    <dt>Due:</dt><%= (a.due_date + 28800).strftime('%B %e, %Y')%>
                     <% if current_user.is_admin?%> <%= link_to "(edit assignment)", edit_course_assignment_path(a) %><% end %></div>
                     <% end %>
                     <% end %>
                </div>
            </div>
        </div>
</section>


<section id="meetings">
    <div class="row">
        <div class="col-md-8">
        <h3>Class Meetings</h3>
            <div class="well">
                <ol>
                <%if @course_session.course_meetings.nil? %>
                    There are no meeting listed for this course
                <% else %>
                    <% @course_session.course_meetings.each do |c| %>
                    <li><div class="well">
                        <dt><%= c.title %></dt>
                        <%= c.preparation_notes %>
                    <% if current_user.is_admin? %>
                        <dt>Instructor Notes: </dt>
                        <dd><%= c.instructor_notes%></dd>
                        <dt>Class Notes: </dt>
                        <dd><%= c.class_notes%></dd>
                    <% end %>
                    </div></li>
                    <% end %>
                <% end %>
                </ol>
            </div>
        </div>
    </div>
</section>


<section id="students">
<div class="row">
    <h3>Student Roster:</h3>
    <div class="col-md-8">
                <div class="well">
                <ul class="users">
                 <% @course_session.users.each do |u| %>
                <li> <%= image_tag u.profile_photo.url(:thumb) %>
                <%= link_to u.name, user_path(u) %>   </li>              
                <% end %>
                </ul>
                </div>
            </div>
        </div>
</section>


<% if current_user.is_admin? %>
<%= link_to "Add an Assignment", new_course_assignment_path %> |
<%= link_to "Add a Course Meeting", new_course_session_course_meeting_path(@course_session)%> | 
<%= link_to 'Edit Course Session', edit_course_session_path(@course_session) %> |
<%= link_to 'Destroy Course Session', @course_session, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', course_sessions_path %>
<% end %>
