<%= simple_form_for @course_packet, :html => { :class => 'form-horizontal', multipart: true } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  </div>

  <div class="form-actions">
  	<%= f.association :course %>
    <%= f.input :title, :label => "Course Packet Title" %>
    <%= f.simple_fields_for :course_files do |f| %>
    	<hr/>
        <%= f.input :image,:label => "Attachment" %>
        <%= f.input :title, :label => "Description" %>
      <% end %>
   <%= f.input :visible, :label => "Make this course packet available only for instructor resources" %>


    <%= f.button :submit %>
  </div>
<% end %>


