<%= simple_form_for @course_packet, :html => { :class => 'form-horizontal', multipart: true } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  </div>

  <div class="form-actions">
  	<%= f.association :course %>
    <%= f.input :title %>
    <%= f.simple_fields_for :course_files do |f| %>
        <%= f.input :title %>
        <%= f.input :image %>
      <% end %>



    <%= f.button :submit %>
  </div>
<% end %>


