<%= simple_form_for @course_packet, :html => { :class => 'form-horizontal', multipart: true } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  </div>

  <div class="form-actions">
  	<%= f.association :course %>
    <%= f.input :title %>
    <%= f.input_field :course_file, as: :file, multiple: true, name: 'course_packet[files]' %>

    <%= f.button :submit %>
  </div>
<% end %>


