<% provide(:title) %>


<h1> <%= @title %></h1>


<table id="table_courses" class="datatable-wide table table-striped table-bordered">
  <thead>
    <tr>
      <th>Course </th>
      <th>Packet Title</th>
      <th>Attachment count </th>
    </tr>
  </thead>
  <tbody>
  <% @course_packets.each do |c| %>
    <td><%= link_to c.course.title, course_path(c.course) %></td>
    <td><%= link_to c.title, course_packet_path(c) %></td>    
    <td><%= link_to c.course_files.count, course_packet_path(c) %></td>
  </tr>
  <% end %>
  </tbody>
</table>



<%= link_to 'Add a Course packet', new_course_packet_path %>
