

<h1><%= @book_category.title %></h1>




<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-md-8">
        <div class="well">
        <dd><%= @book_category.description %></dd>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
        <% @book_category.books.each do |b| %>
        	<%= link_to b.title, b%>
        	<%= link_to b.author, b %> 
        	<%= image_tag b.cover(:thumb) %> </br>
        <% end %>
    	</div>
    </div>
    
</div>





<%= link_to 'Edit Category', edit_book_category_path(@book_category), class: 'btn btn-info' %> |
<%= link_to 'Categories Home', book_categories_path, class: 'btn btn-info' %>
