<h1>Courses</h1>

<%= will_paginate @courses %>


<table id="table_courses" class="datatable-wide table table-striped table-bordered">
  <thead>
    <tr>
      <th>Title </th>
      <th>Abbreviation</th>
      <th>Description </th>
    </tr>
  </thead>
  <tbody>
  <% for course in @courses %>
    <td><%= link_to course.title, course %></td>
    <td><%= link_to course.abbreviation, course %></td>    
    <td><%= link_to course.description, course %></td>
  </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @courses %>


<br>

<% if current_user.is_admin? %>
<%= link_to 'Add a New Course', new_course_path %>
<% end %> 


<script>
$('.table_courses').DataTable({
</script>