<p id="notice"><%= notice %></p>

<h1><%= @course.title %></h1>

<div class="row">
    <div class="col-md-8">
        <div class="well">
        <dt> Abbreviation: </dt>
        <dd><%= @course.abbreviation %></dd>
        <dt> Number of Meetings: </dt>
        <dd><%= @course.session_no %></dd>
        <dt> Subject Area: </dt>
        <dd><%= link_to @course.course_category.title, course_category_path(@course.course_category) %></dd>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
        <dt>Description: </dt>
        <dd><%= @course.description %></dd>
        <dt>Syllabus:</dt>
        <dd><%= link_to "Download here", @course.syllabus.url, target: "_blank" %></dd>
    	</div>
        <div class="well">
        <dt> Current Sessions: </dt>
        <% unless @course.course_sessions.empty? %>
            <% @course.course_sessions.each do |c| %>
            <dd><%= link_to c.title, course_session_path(c)%> </dd>
            <% end %>
        <% else %> 
            <dd>(none)</dd> 
        <% end %>
        </div>
    </div>
    
</div>



<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
