<p id="notice"><%= notice %></p>

<h1><%= @course.title + " | " + @course.abbreviation %></h1>

<div class="row">
    <div class="col-md-8">
        <div class="well">
            <dt>Description: </dt>
            <dd><%= @course.description %></dd>
            <dt> Subject Area: </dt>
            <dd><%= link_to @course.course_category.title, course_category_path(@course.course_category) %></dd>
        </div>
        <div class="well">
            <% unless @course.book_category.nil? %>
            <% @course.book_category.books.each do |b| %>
            <%= image_tag b.cover(:thumb) %>
            <%= link_to b.title, b %>
            <% end %>
            <% else %>
            There is no book list for this class.
            <% end %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
        <dt> Class Duration: </dt>
        <dd><%= @course.session_no %> weeks</dd>
        <dt>Syllabus:</dt>
        <% unless @course.syllabus.nil? %>
            <dd><%= link_to "Download here", @course.syllabus.url, target: "_blank" %></dd>
        <% else %>
            <dd>There is no syllabus available for this class. </dd>
        <% end %>
    	</div>
        <%if current_user.is_admin? %>
        <div class="well">
        <dt> Current Sessions: </dt>
        <% unless @course.course_sessions.empty? %>
            <% @course.course_sessions.where(active: true).each do |c| %>
            <dd><%= link_to c.title, course_session_path(c)%> </dd>
            <% end %>
        <% else %> 
            <dd>(none)</dd> 
        <% end %>
        </div>
        <% end %>
    </div>
    
</div>


<% if current_user.is_admin? %>
<%= link_to 'Edit Course', edit_course_path(@course) %>  
<% end %>
</br>
<%= link_to 'Back', courses_path %>
