<%= simple_form_for(@discussion_question) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.input :question %>
  	<%= f.input :week_number, :label => "Question/Week Number"  %>
    <%= f.input :chapters, :hint => "e.g. 1-3" %>
    <%= f.association :book %>
    <%= f.association :article %>
    <%= f.input :visible, :hint => "Check if you'd like the question to be visible on the book page" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
