


<h1><%= @discussion_question.book.title %>, Week <%= @discussion_question.week_number %></h1>




<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-md-8">
        <div class="well">
       	<dt>Chapter:</dt>
        <dd><%= @discussion_question.chapters %></dd>
        <dt>Question:</dt>
        <dd><%= @discussion_question.question %></dd>
        </div>
       
    </div>
    
</div>



<%= link_to 'Edit Question', edit_discussion_question_path(@discussion_question) %> |
<%= link_to 'Back to Book', book_path(@discussion_question.book) %>
