

<% if !@discussion_question.book.nil? %>
<h1><%= @discussion_question.book.title %>, Week <%= @discussion_question.week_number %></h1>
<% else %>
<h1><%= @discussion_question.article.title %>, Week <%= @discussion_question.week_number %></h1>
<% end %> 




<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-md-8">
        <div class="well">
       	<dt>Chapter:</dt>
        <dd><%= @discussion_question.chapters %></dd>
        <dt>Question:</dt>
        <dd><%= @discussion_question.question %></dd>
        </div>
       
    </div>
    
</div>



<%= link_to 'Edit Question', edit_discussion_question_path(@discussion_question) %> |
<% if !@discussion_question.book.nil? %>
<%= link_to 'Back to Book', book_path(@discussion_question.book) %>
<% else %>
<%= link_to 'Back to Article', article_path(@discussion_question.article) %>
<% end %> 
