<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to site_name, site_url, :class => "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right">
          <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
          <li class="<%= 'active' if current_page?(about_path) %>"><%= link_to "About", about_path %></li>
          <li class="<%= 'active' if current_page?(contact_path) %>"><%= link_to "Contact", contact_path %></li>
          <li class="<%= 'active' if current_page?(team_path) %>"><%= link_to "Our Team", contact_path %></li>
          <% if current_user && current_user.is_admin? %>
          <li class="<%= 'active' if current_page?(users_path) %>"><%= link_to "Student List", users_path %></li>
          <% end %>
          <li> <% if current_user %>
          <%= link_to "My Profile", user_path(current_user.id)%>
          <% end %> </li>
          <li> <% if current_user %> <%= link_to "Log Out", :logout, method: :post %>
             <% else %> <%= link_to "Log In", :login, method: :get %>
             <% end %> </li>






        </ul>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar -->