<div data-spy="affix-top" data-offset-top="10" data-offset-bottom="300">
<div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
  <ul class="nav nav-stacked affix">
      <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
    <li><%= link_to "My Profile", user_path(current_user.id) %></li>
    <% if current_user.courses_permissions == true || current_user.is_admin? %>
    <li><%= link_to "My Courses", my_courses_path %> </li>
    <% end %>
    <% if !current_user.is_admin? %>
    <li><%= link_to "My Instructors", my_instructors_user_path(current_user) %></li>
    <% else %>
    <li><%= link_to "My Students", my_students_user_path(current_user) %></li>
    <% end %>
    <% if current_user.books_permissions == true || current_user.is_admin? %>
    <li><a href="#" data-toggle="collapse" data-target="#sub1">Books</a>
      <ul class="nav collapse" id="sub1">
        <li><%= link_to "My Books", books_user_path(current_user.id) %></li>
        <li><%= link_to "All Books", books_path %></li>
      </ul>
    </li>
    <% end %>
    <% if current_user.articles_permissions == true || current_user.is_admin? %>
    <li><a href="#" data-toggle="collapse" data-target="#sub2">Articles</a>
      <ul class="nav collapse" id="sub2">
        <li><%= link_to "My Articles", articles_user_path(current_user.id) %></li>
        <li><%= link_to "All Articles", articles_path %></li>
       <li><%= link_to "All Sources", article_sources_path %></li>
    </ul>
    <% end %>
    <% if current_user.is_admin? %>
    <li><a href="#" data-toggle="collapse" data-target="#sub3">Users</a>
      <ul class="nav collapse" id="sub3">
        <li><%= link_to "MindImp Students", student_list_path %></li>
        <li><%= link_to "MindImp Alumni", alumni_list_path %></li>
        <li><%= link_to "MindImp Instructors", admin_list_path %></li>
        <li><%= link_to "All Users", users_path %></li>
    </ul>
    <% end %>
</div>
</div>

<script>
$('#sidebar').affix({
  offset: {
    top: 100,
    position: sticky,
    bottom: function () {
      return (this.bottom = $('.footer').outerHeight(true))
    }
  }
})
</script>